/* 
    General Styles
*/
body {
  background-color: white;
  color: black;
}

.logo {
  height: 7rem;
  width: 7rem;
}

#cardGroup {
  display: flex;
  width: 2500px;
}

#containerCarrusel{
  overflow-x: scroll;
}

#textoDescripcion{
  text-align: justify;
  font-size: 20px;
  font-style: italic;
  display: flex;
  align-items: center;
  height: 90%;
}

/* #cartasGrid {
  display: block;
  width: 500px;
} */

.trashIcon {
  background-color: grey;
  border-radius: 15%;
  display: inline-block;
  width: 20px;
}