/* 
    General Styles
*/

body {
  /* background-color: white; */
  /* color: black; */
  /* background-repeat: no-repeat; */
  background-image: url("https://media.revistagq.com/photos/604b2f499fc97c95e82c1c14/master/pass/2101913.jpg");
  background-size: fill;
}

.navbar {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4d2f3d93-e8b3-4e6d-bc04-80d1b99db218/d97g7bt-8fabadb3-b940-48b7-a612-00c4bec89ddd.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRkMmYzZDkzLWU4YjMtNGU2ZC1iYzA0LTgwZDFiOTlkYjIxOFwvZDk3ZzdidC04ZmFiYWRiMy1iOTQwLTQ4YjctYTYxMi0wMGM0YmVjODlkZGQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5JqQXbk26lcDbqIu83bUMXlMxbinnTZ9kat6kU5hjBY");
  background-size: auto;
}

#logo {
  height: 100px;
  width: 100px;
}

.imagenEspera{
  width: 150px;
  height: 150px;
}

#imagenDetallada{
  width: 100%;
}

#imagenDetalladaVehicles{
  width: 100%;
  height: 500px;
  object-fit: fill;
}

#cardGroup {
  display: flex;
  width: 2500px;
}

#containerCarrusel{
  overflow-x: scroll;
}

#textoDescripcion{
  text-align: justify;
  font-size: 20px;
  font-style: italic;
  display: flex;
  align-items: center;
  height: 90%;
}

#textoDetalles{
  font-size: 25px;
  color: red;
}

.dropdown-item{
  align-items: center;
}

span.fa-layers-text {
  position: relative;
  left: -25px;
  top: -7.5px;
  font-size: 18px;
  font-weight: 600;
  color:darkorange;
}

#butonFav{
  display: flex;
  align-items: center;
}

#favIcon {
  background-color: gainsboro;
  border-radius: 15%;
  display: inline-block;
  width: 50px;
  height: 47px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 5px;
  color: purple;
}

#botonesDetalles {
  width: 100px;
  height: 45px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  /* outline: none;
  border: none;
  color: #000; */
  }  

#botonesDetalles:hover {
  background-color: #2EDCE5;
  box-shadow: 0px 15px 20px rgba(155, 241, 240, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.iconoFav{
  /* background-size: contain; */
  width: 35px;
  height: 35px;
}

#botonesFavs{
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#botonesFavs:hover {
  background-color: #ADFF2F;
  box-shadow: 0px 15px 20px rgba(155, 241, 240, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.iconoDelete{
  width: 25px;
  height: 25px;
}

#botonesDelete{
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#botonesDelete:hover {
  background-color: aquamarine;
  box-shadow: 0px 15px 20px rgba(155, 241, 240, 0.4);
  color: #fff;
  transform: translateY(-4px);
}

#iconoHome{
  margin-left: 150px;
}

#containerCarrusel{
  scrollbar-color: Fuchsia coral;
  scrollbar-width: auto;
}



/* 
#containerCarrusel::-webkit-scrollbar {
    width: 0.5em;
    heigth: 0.5rem;
    background-color: #0d3b97;
    display: none;
}

Ponemos un color de fondo y redondeamos las esquinas del thumb
#containerCarrusel::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 4px;
}

Cambiamos el fondo y agregamos una sombra cuando esté en hover
#containerCarrusel::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

Cambiamos el fondo cuando esté en active
#containerCarrusel::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

Ponemos un color de fondo y redondeamos las esquinas del track
#containerCarrusel::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

Cambiamos el fondo cuando esté en active o hover
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
background: #d4d4d4;
} */