/* 
    General Styles
*/

body {
  /* background-color: white; */
  /* color: black; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  background-image: url("https://media.revistagq.com/photos/604b2f499fc97c95e82c1c14/master/pass/2101913.jpg");
  background-size: 3380px;
}

.navbar {
  background-image: url("/workspace/react-hello-webapp/src/img/5.jpg");
}

.logo {
  height: 7rem;
  width: 7rem;
}

#imagenDetallada{
  width: 100%;
}

#imagenDetalladaVehicles{
  width: 100%;
  height: 500px;
  object-fit: fill;
}

#cardGroup {
  display: flex;
  width: 2500px;
}

#containerCarrusel{
  overflow-x: scroll;
}

#textoDescripcion{
  text-align: justify;
  font-size: 20px;
  font-style: italic;
  display: flex;
  align-items: center;
  height: 90%;
}

.dropdown-item{
  align-items: center;
}

.trashIcon {
  background-color: grey;
  border-radius: 15%;
  display: inline-block;
  width: 20px;
}

.container::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.container::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}


/* Cambiamos el fondo cuando esté en active o hover */
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
background: #d4d4d4;
}